---
layout: default
---
{%- unless page.no_header == true -%}
    <div class="post-header">
       <h1 class="post-title-main">{{ page.title }}</h1>
    </div>
{%- endunless -%}

<div class="post-content">
    {% if page.summary %}
        <div class="summary">{{ page.summary | markdownify }}</div>
    {% endif %}
    {% if page.editme %}
    <a target="_blank" href="{{site.github_editme_basepath}}{{page.path}}" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Help improving me</a>
    {% endif %}
    {% unless page.toc == false %}
        <div id="toc"></div>
    {% endunless %}

    {{content}}

    <div class="tags">
        {% if page.tags != null %}
            <b>Tags: </b>
            {% assign projectTags = site.data.tags.allowed-tags %}
            {% for tag in projectTags %}
                {% if page.tags contains tag.id %}
                    <a href="{{ 'tag/' | append: tag.id | relative_url }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{tag.name}}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>